@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "_mixin";
@import "dashboard";
@import "admin_header";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    &::-webkit-scrollbar {

        display: none;
    }
}
a {
    text-decoration: none;
}

li {
     list-style: none;
}

.primary{
    color: hsl(266, 33%, 41%);
}
.secondry{
    color:  hsl(266, 50%, 70%);
}
.ternary{
    color:  hsl(266, 37%, 87%);
}

.primary-bg{
    background-color: hsl(266, 33%, 41%);
}
.secondry-bg{
    background-color:  hsl(266, 50%, 70%);
}
.ternary-bg{
    background-color:  hsl(266, 37%, 87%);
}

.container{
    @include Grid(1.5fr 5fr ,1fr, 2rem);
    width: 100%;
    min-height: 100vh;
}

